---
layout: default
title: 乔戈里的博客
---
<h2>{{ page.title }}</h2>
<p>最新的纪录</p>
<ul>
{% for post in site.posts %}
　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>


<p>最新的纪录1</p>
<ul>
{% for post in paginator.posts %}
    {% if post.tools1 != null %}
    <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% else %}

    {% endif %}
　　
{% endfor %}

</ul>


<p>最新的纪录2</p>
<ul>
{% for post in site.posts %}
    {% if post.tools1 != null %}
    <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% else %}

    {% endif %}
　　
{% endfor %}

</ul>
